*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;

}

a {
    text-decoration: none;
    color:rgb(255, 1, 1);
    transition: .5s;
}

a:hover {
    color:rgb(136, 32, 18);
}